{% extends 'EventBundle::layout.html.twig' %}

{% block body %}
    <section class="event-show event-edit">
        <header id="menu">
            <a class="link" href="{{ path('event') }}">&larr; back to the event list</a>
            <a class="link" href="{{ path('event_show', {'id': event.id}) }}">show event</a>
        </header>

        <article>
            <header class="map-container">

            </header>
            <section>
                {# the opening <form> tag #}
                {{ form_start(edit_form) }}
                    {{ form_errors(edit_form) }}
                    <h1>
                        {{ form_errors(edit_form.name) }}
                        {{ form_widget(edit_form.name) }}
                    </h1>

                    <dl>
                        <dt>where:</dt>
                        <dd>
                            {{ form_errors(edit_form.location) }}
                            {{ form_widget(edit_form.location) }}
                        </dd>

                        <dt>when:</dt>
                        <dd>
                            {{ form_errors(edit_form.time) }}
                            {{ form_widget(edit_form.time) }}
                        </dd>

                        <dt>what:</dt>
                        <dd>
                            {{ form_errors(edit_form.details) }}
                            {{ form_widget(edit_form.details) }}
                        </dd>
                    </dl>

                {# the closing </form> tag #}
                {{ form_end(edit_form) }}

                {{ form(delete_form) }}
            </section>
        </article>
    </section>
{% endblock %}
